/*Contact*/

.front6{
    background-image: url('1129027.jpg');
    margin-bottom: 0%;
}
.blue{
    text-align: left;
    color: aliceblue;
    font-size: 350%;
    margin-left: 5%;
    transition: 2s;
    
}

.details{
    color: aliceblue;
    margin-left: 5%;
}
.gmap_canvas{

  transition: 2s;
  margin-bottom: 0%;
  margin-left: 5%;
}
.form{
    background-color: rgb(27, 27, 27);
    font-size: 100%;
    margin-right: 20%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    border: 3px solid red;
}
#fname{
    width: 20%;
    height: 50%;
}
#sub{
    background-color: red;
    border: solid red;
    color: aliceblue;
}
.pagination1 {
  
    color: white;
    text-align: left;
    margin-top: 50%;
    margin-bottom: 10px;
    margin-left: 28%;
    
   
  }
  
  .pagination1 a {
    color: rgb(250, 248, 248);
    text-align: center;
    padding: 8px 16px;
    
    
    text-decoration: none;
  }
  .pagination1 a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .pagination1 a:hover:not(.active) {background-color: rgb(18, 88, 30);}