



.nav{
    margin-left: 30%;
    margin-top: 5%;
    margin-right: 30%;
    margin-bottom: 10%;
   
    
    
    
}
.main{
    background-image: url('1129027.jpg');
   
    
    
}
.text{
    text-align: center;
    color: rgb(179, 179, 179);
}
#pic{
    border-radius: 47%;
    width: 200px;
    height: 200px;
    margin-left: 30%;
    text-align: center;
    border: 2px green;

}


.bio{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 2ms;
    background: none;
    border: none;
    
}

.skills{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: none;
    border: none;
    
}
.exp{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
    
.port{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.res{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.cont{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.bio:hover{
    font-size: 35px;
   
}
.skills:hover{
    font-size: 35px;
}
.exp:hover{
    font-size: 35px;

}
.port:hover{
    font-size: 35px;
}
.res:hover{
    font-size: 35px;
}
.cont:hover{
    font-size: 35px;
}

.icons{
    
    font-size: 20px;
    margin-top: 10%;
    margin-left: 45%;
   
}
#facebook{
    color: white;
}
#utube{
    color: white;
}
#ins{
    color: white;
}
#facebook:hover{
    font-size: 40px;
}
#utube:hover{
    font-size: 40px;
}
#ins:hover{
    font-size: 40px;
}

/*Biography page*/

.front{
   background-image: url('512679.jpg');
   bottom: 0px;
}


.header{
    
    font-size: 50px;
    text-align: center;
    background-color: rgb(146, 146, 146);
    margin-right: 500px;
    margin-left: 500px;
    border-bottom: 2px;
    padding-bottom: 2px;
    transition:  2s;
    color: antiquewhite;
}


.second{
    color: rgb(235, 230, 230);
    display: flex;
    margin-right: 0%;
    margin-left: 50%;
    text-align: right;
}
.third{
    color: rgb(235, 230, 230);
    display: flex;
    margin-right: 0%;
    margin-left: 50%;
    text-align: right;
    
}
.fourth{
    color: rgb(235, 230, 230);
    display: flex;
    margin-right: 0%;
    margin-left: 50%;
    text-align: right;
}
.fifth{
    color: rgb(235, 230, 230);
    display: flex;
    margin-right: 0%;
    margin-left: 50%;
    text-align: right;
}
.sixth{
    border-style: solid;
    border-radius: 15px;
    color: rgb(235, 230, 230);
    display: flex;
    margin-right: 710px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0%;
    margin-left: 50%;
    margin-bottom: 40px;
    
}
.slideshow{
    float: left;
    
}
.inside{
     
      margin-top: 100px;
      margin-bottom: 0px;
    
}

.slideshow figure{
   float: left;
}
.slideshow figure img{
    width: 20%;
    float: left;
}



.front{
    background-color: rgb(41, 41, 41);
  
}

.picture{
    position: relative;
    bottom: 500px;
    width: 650px;
    height: 1200px;
    margin-left: 10px;
   border-radius: 20px;
   margin-bottom: 0px;
    
}
.pagination {
    display: inline-block;
    color: white;
    text-align: center;
    left: 180px;
  }
  
  .pagination a {
    color: rgb(250, 248, 248);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  .pagination a.active {
    background-color: #53d457;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: rgb(20, 160, 27);}

  



