.nav{
    margin-left: 30%;
    margin-top: 5%;
    margin-right: 30%;
    margin-bottom: 10%;
   
    
    
    
}
.main{
    background-color: rgb(253, 253, 253);
    background-image: url('White_Abstract_5241852.jpg');
    
    
}
.text{
    text-align: center;
}
#pic{
    border-radius: 47%;
    width: 200px;
    height: 200px;
    margin-left: 30%;
    text-align: center;
    border: 2px green;

}


.bio{
    font-size: 30px;
    text-decoration: none;
    color: green;

    
}

.skills{
    font-size: 30px;
    text-decoration: none;
    color: green;
    
}
.exp{
    font-size: 30px;
    text-decoration: none;
    color: green;
}
    
.port{
    font-size: 30px;
    text-decoration: none;
    color: green;
    
}
.res{
    font-size: 30px;
    text-decoration: none;
    color: green;
    
}
.cont{
    font-size: 30px;
    text-decoration: none;
    color: green;
    
}
.bio:hover{
    font-size: 60px;
}
.skills:hover{
    font-size: 60px;
}
.exp:hover{
    font-size: 60px;

}
.port:hover{
    font-size: 60px;
}
.res:hover{
    font-size: 60px;
}
.cont:hover{
    font-size: 60px;
}

.icons{
    
    font-size: 20px;
    margin-top: 20%;
    margin-left: 45%;
}
#facebook:hover{
    font-size: 40px;
}
#utube:hover{
    font-size: 40px;
}
#ins:hover{
    font-size: 40px;
}
#header{
    
    font-size: 50px;
    text-align: center;
    
    background-color: rgb(56, 129, 56);
    border-bottom: 2px;
    padding-bottom: 2px;
}
.second{
    border-style: solid;
    display: flex;
    margin-right: 710px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.slideshow{
    position: relative;
    width: 700px; 
    position: absolute;
    top: 93px;
    right: 5px;
    overflow: hidden;
    
}
.head{
    position: relative;
}

.slideshow figure{
    position: relative;
    width: 700px;
    margin: 0px;
    left: 0px;
    animation: 20s slideshow infinite;

}
.slideshow figure img{
    width: 20%;
    float: left;
}





